@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: black;
    box-sizing: border-box;
    height: 80vh;
    width: 30vw;
    border: 2px solid rgb(36, 36, 36);
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 500px black;
}

img{
    height: 40vh;
    width: 15vw;
    padding: 30px 0px 20px 0;
}

.befbtn{
    height: 10vh;
    width: 15vw;
    border-radius: 15px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    border-style: none;
    color: rgb(0, 140, 0);
    margin-top: 30px;
}

.befbtn:hover{
    background-color: rgb(44, 44, 44);
    color: rgb(0, 100, 0)
}

input{
    display: block;
    box-sizing: border-box;
    width: 15vw;
    height: 10vh;
    margin: auto;
    padding: 0 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 900;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    border-style: none;
    color: rgb(0, 140, 0);
    font-size: 20px;   
    border-radius: 15px;
}

.texbox{
    text-align: left;
    padding: 5px 0;
    color: rgb(0, 140, 0);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}

.hacks{
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}
